
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type:none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center input, label, button {
  display: block;
  text-align: center;
}

.center button {
  width: 100%;
  margin-top: 5%;
  background-color: #8C8FFC;
  color: white;
  border: solid #8C8FFC;
  border-radius: 60px;
  font-weight: 600;
}

.center input {
  width: 100%;
  border: none;
  border-bottom: solid 1px; 
  background-color: transparent;
}

.nab{
  text-align: right;
  padding-top:0.5%;
  padding-bottom: 0.5%;
}

.nab a{
  margin-left: 2%;
  text-decoration: none;
  color: black;
}

.signinBox {
  padding: 2%;
  width: 300px;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 2%;
  opacity: 80%;
}


.centerText {
  text-align: center;
}


#signinField {
  margin-bottom: 3%;
}

#password {
  margin-top: 5%;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: whitesmoke;
  height: 14.75rem;
  border-radius: 8px;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: whitesmoke;
  color: #2c3e50;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: auto;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: whitesmoke;
  color: #2c3e50;
  opacity: 0;
  transition: all 0.35s;
  width:100%;
  border-radius: 0 0 8px 8px;
}
.tab-switch:checked + .tab-label {
  background: purple;
  color: whitesmoke;
  border-bottom: 0;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

#divTab1 label {
  border-top-left-radius: 8px;
}

.grayBox {
  background-color:#282c34;
  color: white;
  padding:2px 6px 2px 6px;
  border-radius: 6px;
}

.rightAlign {
  float: right;
}

.analysisType {
  padding-top: 25px;
}

.btnLogin{
  display: inline;
  margin-left: 3%;
  border-radius: 20px;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background-color: #8C8FFC;
  color:white;
}

.loginLink{
  color: white;
}

.purple {
  color: #8C8FFC;
}

.white {
  color:white;
}

.usernameDisplay {
  display: inline;
  margin-right: 1%;
}


.linkHistory {
  margin-right: 3%;
}

.linkLogout {
  display : flex;
  /* align-items : center; */
  justify-content: space-between;
  text-decoration: none;
  margin : 0;
}

.linkLogout:hover {
  color : purple;
}

.white {
  color: white !important;
}

.inline {
  display: inline;
}

.imgSmall {
  width : 35px;
}

.sub-menu-wrap {
  position: absolute;
  top : 8%;
  right : 0.5%;
  width: 200px;
  max-height: 0px;
  overflow : hidden;
  transition : max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background-color: white;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display : flex;
  align-items : center;
}

.user-info h4 {
  font-weight: 500;
}

.user-info img {
  width : 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border-width: 0;
  height : 1px;
  width : 100%;
  background-color: purple;
}

.marginProfile {
  margin-right: 10%;
}

.nab-right {
  margin-right : 5%;
}

.nab-left {
  margin-left: 5%;
}

.nab a :focus {
  font-weight: 700;
}

.home-top-div {
  background-color: #8C8FFC;
  /* background: linear-gradient(to bottom, #8C8FFC , white); */
  /* color : white; */
  color : black;
  padding : 5%;
}

.home-download {
  background-color: white;
  color : black;
  border-radius: 60px;
  padding : 10px 40px 10px 40px;
}

.home-top-div {
  display: flex;
  justify-content: space-between;
}

.home-top-left {
  flex-basis: 50%;
  color : white;
}

.home-top-right {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-img {
  border-radius: 15%;
}

.home-bottom-div {
  display: 'flex';
  justify-content: space-between;
}

.home-bottom-left {
  flex-basis: 50%;
}

.home-bottom-right {
  flex-basis: 50%;
  justify-content: flex-end;
  align-items: center;
}

.home-bottom-div {
  padding : 5%;
}

.nab {
  display : flex;
  justify-content: space-between;
}

.nab-right {
  display: flex;
  align-items: center;
}

.nab-item {
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .nab-item {
    margin-right: 10px;
  }
}

.nab-items-container {
  max-width: 800px;
  margin: 0 auto;
}

.login-btn-wrapper {
  display: inline-block;
  margin-top: 1.25rem;
}

.login-btn-wrapper {
  display: flex;
  align-items: center;
}

.btnLogin {
  margin-left: auto;
  margin-right: 20px;
}

/* .navbar-wrapper {
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 24px 0;
  font-size: 14px;
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index : 6;
}

.centerText {
  text-align: center;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 8px;
  text-align: center;
  font-size: 13px;
}

ol {
  width: 80%;
  margin: auto;
}

li {
  border-top: 2px dashed;
  border-color: blue !important;
  margin:0; padding: 30px;
  counter-increment: section;
  position: relative;
}

.margin-bottom {
  margin-bottom: 10%;
}

.padding-horizontal {
  padding : 0px 5% 0px 5%;
}


li:nth-child(even):before {
  content: counter(section);
  right: 100%; 
  margin-right: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 0px;
  height: 35px;
  width: 35px;
  background-color: #8C8FFC;
  text-align:center;
  color: white;
  font-size: 110%;
  padding-top : 4px;
}

li:nth-child(odd):before {
  content: counter(section);
  left: 100%; 
  margin-left: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 0px;
  height: 35px;
  width: 35px;
  background-color: #8C8FFC;
  text-align:center;
  color: white;
  font-size: 110%;
  padding-top : 4px;
}

.heartrateBtn {
  border-radius: 60px;
  background-color: #8C8FFC;
  color : white !important;
}

.noLine {
  text-decoration: none;
}



li:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
}

li:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

li:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

li:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.padding-getstarted {
  padding-top: 10%;
  padding-bottom: 5%;
}

.paddingFile {
  padding-left : 5%;
  padding-top : 1%;
}

.bold {
  font-weight: bold;
}

.home-features-text {
  padding:5% 0 5% 0;
}

.purpleLinear {
  background: linear-gradient(to bottom, #8C8FFC, white);
}